.font_style{
    font-family: 'Pacifico', cursive;
    font-size: 50px;
}
.maincolor{
    background-color:  #f7ecde;
}
h1::before {
    content: "";
    
    position: absolute;
    width: 17%;
    height: 3%;
    left: 41.5%;
    bottom: 85%;
    background-color: #fec260;
    transition: all 0.4s;
    z-index: -1;
}
h1:hover::before{
    height: 5.5%;


}
.style_p{
    font-family: 'Righteous', sans-serif;
    background-image: linear-gradient(to right, #3ca55c, #b5ac49);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.btn-submit{
    background-color: #d1512d;
    font-weight: 500;
}
.btn-submit:hover{
    background-color: #a03315;
}